
/* Animations */

/* Logo color change */
@keyframes color-change{
    0%{
        color:#E4A11B;
    }
    25%{
        color:#54B4D3;
    }
    75%{
        color:#14A44D;
    }
    100%{
        color:#E4A11B;
    }
}

/* Background rotate */
@keyframes box-shape {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

/* About img float */
@keyframes float{
    50%{
        transform:translateY(30px);
    }
}

/* Animations End */