@use "../abstract/mixins" as mixin;
/* Global Utilities */

.nowrap{
    white-space: nowrap;
}

.color-anime{
    animation:color-change 10s infinite;
    transition:0.5s;
}

main{
    width:100%;
    section{
        scroll-margin-top:3rem;
        min-height:100vh;
        padding:1rem 10rem;
        @include mixin.responsive(xs){
            padding:1rem 2rem;
        }
    }
}

/* Global Utilities End */