//Font - Family
$font-family-popins:'Poppins', sans-serif;

// Colors
$theme-colors:(
    "primary":#fefefa,
    "secondary":#E5E4E2,
    "dark":#003262,
    "title1":#CC0000,
    "title2":#14a44d,
    "title3":#e4a11b,
    "title4":#0989f7,
    "black":#000000,
    "white":#ffffff,
);

$btn-colors:(
    "primary":#003262,
    "danger":#CC0000,
    "warning":#e4a11b,
    "info":#0275d8, 
    "success":#14a44d,
    "gold":#000000,
    "text":#fefefa
);

$anime-colors:(
    "color-1":#14a44d,
    "color-2":#CC0000,
    "color-3":#e4a11b,
    "color-4":#0275d8
);








