@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixin;
/* Header */

.header{
    padding:1rem 12rem;
    display:flex;
    justify-content: space-between;
    align-items: center;  
    flex-wrap: wrap;
    position:relative;
    @include mixin.responsive(xs){
        padding:1rem 2rem;
    }
    .clock{
        display: flex;
        align-items: center;
        justify-content: center;
        position:absolute;
        right:2%;
        gap:0.2rem;
        #hour{
            color:func.theme-colors("title1");
        }
        span{
            color:func.theme-colors("dark");
            font-size:1rem;
            font-weight: bolder;
        }
        #ampm{
            color:func.theme-colors("title2");
        }
        @include mixin.responsive(xs){
            display:none;
        }
    }
    &--logo{
        font-size:1.5rem;
        display:flex;
        justify-content: center;
        align-items: center;
        width:20%;
        @include mixin.responsive(xs){
            font-size: 0.875rem;
            width:auto;
        }
        a{
            color:func.theme-colors("black");
            text-transform: capitalize;
            font-weight: bold;
        }
        img{
            width:50px;
            margin-right:0.2rem;
            @include mixin.responsive(xs){
                width:25px;
            }
        }
    }
    &--menu{
        display:flex;
        gap:1rem;
        list-style-type: none;
        font-size:0.875rem;
        &__items>a{
            color:func.theme-colors("black");
            transition:0.2s;
            padding:0.25rem;
            &:hover,&.active{
                font-size: 0.95rem;
                color:func.theme-colors("dark");
                transition:0.2s;
                font-weight: bold;
            }
        }
        @include mixin.responsive(xs){
            display:none;
        }
    }
    &--btn{
        display:none;
        background-color: func.theme-colors("primary");
        border:none;
        outline:none;
        border:2px solid func.theme-colors("dark");
        border-radius:5px;
        padding:0.15rem 0.3rem;
        cursor: pointer;
        &:focus{
            background-color:func.theme-colors("dark");
            border-color:func.theme-colors("title1");
            i{
                color:func.theme-colors("primary");
            }
            
        }
        @include mixin.responsive(xs){
            display:block;
        }
        i{
            font-size:1rem;
            color:func.theme-colors("title1");
        }

    }
    &-fixed{
        position:sticky;
        top:0;
        width:100%;
        z-index:100;
        background-color:func.theme-colors("primary");
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }
}

/* Header End */