@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixin;

/* Experience Page */

.experience{
    background-color: func.theme-colors("primary");
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    &--container{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 90vh;
        width:100%;
        .title{
            font-size:3rem;
            margin-top:1rem;
            padding:1rem;
            color:func.theme-colors("dark");
            letter-spacing: 10px;
            @include mixin.responsive(xs){
                font-size: 1.4rem;
                letter-spacing:0;
                width:100%;
                text-align: center;
            }
            .color{
                color:func.theme-colors("title1");
            }
        }
        .items{
            width:100%;
            height:100%;
            position:relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            .btn-box{
                display:flex;
                justify-content: center;
                align-items: center;
                padding:0.5rem;
                button{
                    background:transparent ;
                    border: none;
                    outline: none;
                    cursor:pointer;
                    padding:0.8rem;
                    margin:0 1.5rem;
                    font-size:1.2rem;
                    color:func.btn-colors("primary");
                    border-radius: 6px;
                    @include mixin.responsive(xs){
                        font-size:0.875rem;
                        margin:0 1rem;
                        padding:0.5rem;
                    }
                    &:hover{
                        border: 2px solid func.btn-colors("info");
                        font-size: 1.3rem;
                        transition:0.6s;
                        @include mixin.responsive(xs){
                            font-size: 0.95rem;
                            border-width: 1px;
                        }
                    }
                }
                i{
                    font-size: 2.2rem;
                    color:func.theme-colors("dark");
                    @include mixin.responsive(xs){
                        font-size: 1rem;
                    }
                }
                .acctive{
                    color:func.btn-colors("text");
                    background-color:func.btn-colors("info");
                    border:2px solid func.btn-colors("info");
                    transition:0.6s;
                    font-size: 1.3rem;
                    @include mixin.responsive(xs){
                        font-size: 0.95rem;
                        border-width: 1px;
                    }
                }
            }
            .company{
                width:60%;
                height: 100%;
                padding:4rem;
                z-index:10;
                text-align: left;
                position:absolute;
                top:10%;
                transform: translateX(200%);
                transition:1s;
                @include mixin.responsive(xs){
                    width:100%;
                }
                .contents{
                    background-color:func.theme-colors("primary") ;
                    padding:3rem;
                    // border:8px solid var.$dark-font-color;
                    border-radius: 20px;
                    line-height:2;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
                    .role{
                        font-size:2.5rem;
                        color:func.theme-colors("title1");
                        text-shadow:2px 2px 3px black;
                    }
                    .c-name{
                        font-size:1.8rem;
                        color: func.theme-colors("dark"); 
                    }
                    .details{
                        display:flex;
                        justify-content: space-between;
                        max-width:50%;
                        font-size: 1.1rem;
                        i{
                            color: func.theme-colors("title2");
                        }
                    }
                    .description{
                        font-size: 1.1rem;
                        ul{
                            list-style-type: square;
                            list-style-position: inside;
                            margin-left:3rem;
                        }
                    }
                    .c-website{
                        padding-top:0.5rem;
                        .btn-primary{
                            padding:0.5rem;
                        }
                    }
                    
                }   
                .flometriq{
                    background-image: url('../img/experience/flometriq.png');
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .asuran{
                    background-image: url('../img/experience/asuran.png');
                    background-position: center;
                    background-repeat: no-repeat;
                } 
            }    
            .active{
                transform: translateX(37%);
                @include mixin.responsive(xs){
                    transform :translateX(0%);
                }
            }
            
        }
    }
}

/* Experience Page End */