@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixin;

/* Home page */

.home{
    background-color: func.theme-colors("primary");
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items: center;
    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    &--container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        height:100%;
        width:100%;
        perspective: 1000px;
        z-index:1;
        @include mixin.responsive(xs){
            flex-direction:column-reverse;
        }
        &--text{
            display:flex;
            flex-direction: column;
            flex:1 1 40rem;
            font-weight:bold;
            @include mixin.responsive(xs){
                flex:1 1 20rem;
                width:100%;
                margin-top:1rem;
            }
            &__title{
                font-size:3.5rem;
                color: func.theme-colors("dark");
                @include mixin.responsive(xs){
                    font-size:1.5rem; 
                }
                .name{
                    display:block;
                    .red{
                        color:func.theme-colors("title1");
                    }
                }
            }
            &__desc{
                font-size: 1.75rem;
                color:func.theme-colors("dark");
                @include mixin.responsive(xs){
                    font-size:0.875rem; 
                }
                .auto-type{
                    color:func.theme-colors("title2");
                }
            }
            q{
                margin:1.5rem 0 3rem 0;
                display:block;
                color:func.theme-colors("dark");
                font-size:0.5rem;
                @include mixin.responsive(xs){
                    font-size: 0.7rem;
                    margin:0.5rem 0 1rem 0;
                }
            }
            .btn-primary{
                box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;   
                max-width:200px;
                text-align: center;
                @include mixin.responsive(xs){
                    display:none;
                }
                &:hover{
                    i{
                        transform:rotateZ(90deg);
                        transition:0.6s;
                    }
                }
            }
            .social-media{
                margin-top:4rem;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                width:40%;
                border-radius:50px;
                padding:0.5rem;
                display:flex;
                justify-content: space-evenly;
                align-items: center;
                @include mixin.responsive(xs){
                   width:70%;
                   margin-top:1.5rem;
                   padding:0.25rem; 
                }
                a{
                    font-size: 1.2rem;
                    display:inline-block;
                    color:func.theme-colors("primary");
                    background-color: func.theme-colors("dark");
                    padding:0.5rem;
                    border-radius:50%;
                    height:30px;
                    width:30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include mixin.responsive(xs){
                        padding:0.25rem;
                        height:25px;
                        width:25px;
                        font-size:0.875rem; 
                     }
                    &:hover,&:focus{
                        color:func.theme-colors("dark");
                        background-color: func.theme-colors("primary");
                    }
                }
            }
        }
        &--img{
            display:flex;
            justify-content: center;
            align-items: center;
            flex:1 1 40rem;
            width:50%;
            transform-style: preserve-3d;
            @include mixin.responsive(xs){
                flex:1 1 20rem;
                width:100%;
            }
            &--circle{
                width:35vw;
                height:35vw;
                border-radius:50%;
                overflow: hidden;
                position:relative;
                cursor:pointer;
                transition:0.6s;
                @include mixin.responsive(xs){
                    height:80vw;
                    width:80vw;
                }
                &__profile{
                    width: 70%;
                    position:absolute;
                    bottom:10%;
                    right:20%;
                }
                &__bg{
                    position:absolute;
                    width:100%;
                }
                &:hover{
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                    background-color: func.theme-colors("secondary");
                    & #pro-pic{
                        filter:drop-shadow(2px 2px 10px rgb(12, 12, 12));
                        transition:0.6s;
                    }
                }

            }
            
        }
    }
}