@use "../abstract/functions" as func;

/* Skills Page */

.skills{
    background-color: func.theme-colors("secondary");
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    &--container{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height:100%;
        width:100%;
        .title{
            font-size:3rem;
            margin-top:1rem;
            padding:1rem;
            color:func.theme-colors("dark");
            letter-spacing: 10px;
            .color{
                color:func.theme-colors("title1");
            }
        }
        
    }
}

/* Skills Page End */