@use "../abstract/functions" as func;
@use "../abstract/mixins" as mixin;

.success{
    background-color: func.theme-colors("primary");
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    min-height:90vh;
    .container{
        width:100%;
        display:flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        .title{
            color:func.theme-colors("title1");
            font-size:3rem;
            @include mixin.responsive(xs){
                font-size:1.5rem;
                text-align: center;
            }
        }
        .desc{
            color:func.theme-colors("title2");
            font-size:1.5rem;
            text-align: center;
            font-weight: bold;
            @include mixin.responsive(xs){
                font-size:1.1rem;
            }
        }
        a{
            text-align: center;
            color:func.theme-colors("title4");
            text-decoration: underline;
            &:hover{
                color: func.theme-colors("title2");
            }
        }
    }
}